<section class="w-full p-8">
  <div class="w-full p-4 flex-col flex gap-6">
    <div class="w-11/12 flex justify-end">
      <%= link_to "Add RECIPE", new_user_recipe_path(@user), class: "inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out" %>
    </div>
    <% if @recipes.empty? %>
      <h4>No Recipes</h4>
    <%end %>
    <% @recipes.each do |recipe| %>
      <div class="overflow-x-auto relative shadow-md sm:rounded-lg px-4 grid grid-cols-2">
        <div class="flex flex-col gap-4">
          <h2 class="font-bold text-3xl"><%= recipe.name %></h2>
          <%= form_with  model: recipe, url: user_recipe_url(recipe.user_id, recipe.id), method: :delete do |form|%>
            <%= form.submit "Delete", class: "font-medium text-blue-600 dark:text-blue-500 hover:underline hover:cursor-pointer" %>
          <%end %>
        </div>
        <div class="row-span-2">
          <p><%= recipe.description %></p>
        </div>
      </div>
    <%end %>

  </div>
</section>
