<section class="w-full p-8">
  <div>
    <div class="overflow-x-auto relative shadow-md sm:rounded-lg px-4 ">
      <div class="w-full flex flex-col gap-8 p-4">
        <!--      top-->
        <div class="flex items-center justify-center w-full"><h1 class="text-2xl"><%= @recipe.name %></h1></div>
        <div class="flex flex-col gap-6">
          <div class="flex justify-between">
            <h2 class="text-xl">Preparation Time: <%= @recipe.preparation_time %> hour(s)</h2>
            <%= form_with model: @recipe, url: user_recipe_url(@recipe.user_id, @recipe.id), class: "inline-flex relative items-center cursor-pointer",  method: :toggle do |form| %>
              <label for="default-toggle" class="inline-flex relative items-center cursor-pointer">
                <% if @recipe.public %>
                <%end %>
                <%= form.check_box :public, class:"sr-only peer", id:"default-toggle", :onclick => "this.form.submit()"%>
                <div class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
                <span class="ml-3 text-xl font-medium text-gray-900 dark:text-gray-300">Public</span>
              </label>
          <%end %>
          </div>
          <h2 class="text-xl">Cooking Time: <%= @recipe.cooking_time %> hour(s)</h2>
          <p>Steps goes here ...</p>
        </div>
        <div class="flex justify-between py-2 border-b-2 border-grey-600">
          <button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Generate shopping list</button>
          <%= link_to "Add ingredient", new_user_food_path(@user), class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" %>
        </div>
      </div>
      <div>
      </div>
    </div>
  </div>
</section>

